/* phone */

@media (max-width: 767px) {
	body {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows:  1fr ;
    }
    div{    
        border: 1px solid black ;    
    }
    #a {
     grid-row: 1;
     grid-column: 1 /span 2;
     height: 75px;
    }
    #b{
        grid-row: 2;
        grid-column: 1/span 2;
        height: 150px;
    }
    #c{
        grid-column: 1 /span 2;
        grid-row: 3;
        height: 125px;
    }
    #d{
        grid-row: 4;
        grid-column: 1 /span 2;
        height: 125px;
    }
    #i{
        grid-row: 7;
        grid-column: 1 /span 2;
        height: 80px;
    }
    .mid {
        height: 250px;
    }
div p {
	padding-top: 25px;
}
}
@media (min-width: 768px) {
	body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
		width: 960px;
		margin: 0 auto;
    }
    div{
        border: 1px solid black;
    }
    #a {
        grid-row: 1;
        grid-column: 1 /span 5;
        height: 100px;
       }
       #b{
           grid-row: 2 /span 6;
           grid-column: 1;
           height: 600px;
       }
        #c{
            grid-row:2;
            grid-column: 2 / span 2;
            height: 200px;
        }
        #d{
            grid-row: 2;
            grid-column: 4 /span 2;
            height: 200px;
        }
        .mid{
            height: 250px;
        }
        #i{
            grid-row: 4;
            grid-column: 2 /span 4;
            height: 150px;
        }

}
/* 
@media (min-width: 481px) and (max-width: 767px) {
  
    * {
        text-align: center;
        margin: 0 auto;
        
    }
header{
    text-align: center;
    height: 150px;
    padding-top: 50px;
}
#div1{
    float: right;
    height: 300px;
    width: 300px;
}
#div2{
    float: left;
    height: 300px;
    width: 300px;
    clear: left;
}
footer{
    clear: both;
    text-align: center;
    height: 150px;
    padding-top: 50px;
}
}  
  
 */
